.soc-icon
    margin: 8px
    .svg-eclipse
        transition: .2s
        &:hover
            fill: $beige
        &:hover + .svg-icon
            fill: $white
.btn
    line-height: 52px
    width: 160px
    text-align: center
    display: inline-block
    color: $beige
    border: 1px solid $beige
    border-radius: 50px
    transition: .2s     
    &:hover
        border-color: $white
        color: $white