.soc-icon
    margin: 8px
    &:hover
        transform: translateY(-3px)
    &:hover  .svg-eclipse
        fill: $beige
        transition: .2s
    &:hover  .svg-icon
        fill: $white
.btn
    line-height: 52px
    width: 160px
    text-align: center
    display: inline-block
    color: $beige
    border: 1px solid $beige
    border-radius: 50px
    transition: .2s     
    &:hover
        border-color: $white
        color: $white

.bold
    font-weight: bold