header
    .bgpic
        width: 100%
        position: absolute
        top: 0
        left: 0
        z-index: -1

    .header-top
        display: flex
        justify-content: space-between
        align-items: center
        padding-top: 60px
        .header-top__logo
        .header-top__nav
            
            width: 493px
            font-size: 14px
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
            .nav__list
                display: flex
                justify-content: space-between
                color: $white
                .nav__item
                    &:hover
                        color: $beige
        .header-top__contacts
            color: $white
            font-weight: 600
            font-size: 20px
            display: flex
            align-items: center
            .header-phone
                transition: .2s
                padding-right: 14px
                &:hover
                    color: $beige
        .header-top__consult
            
            a
                
            