header
    background: #eee
    
    height: 100%

    .header-bg
        overflow: hidden
        max-height: 1000px
        position: absolute
        // top: 0
        // left: 50%
        // transform: translate(-50%)
        
        img
            display: block
            // min-height: 100%
            min-width: 100vw
            z-index: 0

    .header-inner
        position: relative
        min-height: 1000px

    
    .header-top
        display: flex
        justify-content: space-between
        align-items: center
        padding-top: 60px
        width: 100%
        z-index: 1
        +mw979
            padding-top: 20px

        .header-top__logo
            img
                +mw600
                    width: 110px
        .header-top__nav 
            font-size: 14px
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
            width: 470px
            @media (max-width: 1300px)
                width: 400px
            +mw1180
                display: none

            .nav__list
                display: flex
                justify-content: space-between
                color: $white
                .nav__item
                    position: relative
                    &:hover
                        color: $beige
                    &:hover .firstlevel
                        visibility: visible
                        transform: translateY(-5px)
                        opacity: 1
                    .opener:hover .seclevel
                            visibility: visible
                            transform: translateY(-5px)
                            opacity: 1

            .submenu
                display: block
                width: 290px
                height: auto
                padding: 17px 24px 20px
                background-color: $white
                position: absolute
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
                visibility: hidden
                transform: translateY(20px)
                opacity: 0
                transition: .3s
                border-radius: 5px  
                li    
                    color: $dark-grey
                    line-height: 30px
                    text-shadow: none
                    &:hover
                        color: $beige

            .firstlevel
                top: 40px
                left: -100px
                &:after 
                    content: ''
                    position: absolute
                    left: 130px
                    top: -20px
                    transform: rotate(180deg)
                    border: 10px solid transparent
                    border-top: 10px solid $white

            .seclevel
                left: 105%
                top: 20px
                &:after 
                    content: ''
                    position: absolute
                    left: -20px
                    top: 30px
                    transform: rotate(90deg)
                    border: 10px solid transparent
                    border-top: 10px solid $white

        .header-top__contacts
            display: flex
            align-items: center
            .header-phone
                transition: .2s
                color: $white
                font-weight: 600
                font-size: 20px
                @media (max-width: 1300px)
                    font-size: 17px
                +mw1180
                    display: none         
                &:hover
                    color: $beige
            .soc-icon
                +mw1180
                    display: none
        .header-top__consult
            padding-left: 10px   
            transition: .2s
            +mw979
                transform: scale(0.8)
            +mw600
                transform: scale(0.75)
            +mw480
                display: none
            a
                font-weight: 500
                font-size: 14px
                
    .header-main
        color: $white
        &__text
            padding-top: 210px
            padding-bottom: 45px
            font-weight: 500
            font-size: 2.15em
            line-height: 1.4em
            transition: .2s
            
            +mw1180
                font-size: 1.8em
                padding-top: 150px
                
            +mw768
                font-size: 1.2em
                padding-top: 90px

        &__sub
            display: flex
            justify-content: space-between
            max-width: 800px
            margin-left: -30px
            +mw768
                flex-direction: column
                margin-top: 40px
                margin-left: 40px 
            +mw480
                margin: 0

        &__subblock
            display: flex
            align-items: center
            justify-content: center
            font-size: 13px
            line-height: 23px
            width: 270px
            +mw768
                span
                    flex-shrink: 0
                    width: 190px
                    padding-bottom: 30px
           
            svg
                flex-shrink: 0
                height: 60px
                width: 60px
                margin-right: 20px
                text-align: center
                display: block
                +mw768
                    width: 150px
                    padding-right: 0   
                +mw480
                    display: none

       


                

    .header-bottom

        &__arrows
            position: absolute
            bottom: 120px
            right: 50px
            .arrows
                display: inline-block
                width: 50px
                height: 50px
                border-radius: 50px
                transition: .3s
                position: relative
                cursor: pointer
                &:hover
                   background: #FFFFFF
                   box-shadow: 0px 8px 20px rgba(214, 222, 226, 0.42)
                
                svg
                    position: absolute
                    top: 50%
                    left: 50%
                    width: 30px
                    height: 30px
                    
            .svg-arrow-l
                svg
                    transform: translate(-30%, -50%)
                    
            .svg-arrow-r
                svg
                    transform: translate(-70%, -50%) rotate(180deg) 
                    
