.reputation
    width: 85%
    max-width: 1260px
    margin: 0 auto

    &__header
        font-size: 35px
        line-height: 48px
        font-weight: 500
        width: 520px

    &__text
        font-size: 18px
        line-height: 45px
        width: 950px
        padding-bottom: 50px

    &__advatages
        display: flex
        padding-bottom: 110px
        
    .advantages-item
        

        &__icon

        &__text


.reputation__images
    display: flex
    align-items: center
    justify-content: center
    margin: -10px
    

    +mw1180
        flex-direction: column

    img
        margin: 10px
        transition: .3s

    .rep-group

        display: flex
    .rep-col
        display: flex
        flex-direction: column
    .rep-row
        display: flex
        flex-wrap: nowrap

    .rep-3

        +mw1180
            display: none
    
    .rep-3_1
        display: none

        +mw1180 
            display: flex
            flex-direction: column

